#example {
  margin-left: 15px; // to match mocha
}

.hidden {
  display: none;
}

p {
  font-size: 0.8em;
  line-height: 1em;
  margin: 0;
}

.todo-example {
  max-width: 600px;
}

.list {
  margin-bottom: 0.5em;
}

.todo-view, .add-todo-view {
  position: relative;
  background-color: #ddd;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.todo-view .delete {
  float: right;
  line-height: 1.5em;
  font-size: 1em;
  font-weight: bold;
}

.todo-view a { color: #B34734; text-decoration: none; }

.spinner-overlay {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
}

.todo-view input,
.todo-view p {
  display: inline-block;
}

.todo-view input {
  margin-right: 1em;
}

.add-todo-view input[type="text"] {
  padding: 0.5em;
  width: 60%;
  margin: 0 0.6em;
}

.add-todo-view input[type="submit"] {
  position: absolute;
  right: 0.5em;
  top: 1.5em;
}
